<h1><%= plural_table_name.titleize %></h1>

<table class="table">
  <thead>
    <tr>
  <% attributes.each do |attribute| -%>
      <th><%= attribute.human_name %></th>
  <% end -%>
      <th class="index-actions"></th>
    </tr>
  </thead>

  <tbody>
    <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
  <% attributes.each do |attribute| -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
  <% end -%>
      <td>
        <td>
          <%%= link_to icon(:info), <%= singular_table_name %>, class: 'btn btn-primary' %>
          <%%= link_to icon(:edit), edit_<%= singular_table_name %>_path(<%= singular_table_name %>), class: 'btn btn-warning' %>
          <%%= link_to icon(:trash_o), <%= singular_table_name %>, method: :delete, data: { confirm: "Are you sure you want to delete the #{human_name} '#{<%= singular_table_name %>}'?" }, class: 'btn btn-danger' %>
        </td>
      </td>
    <%% end %>
  </tbody>
</table>

<br />

<%%= link_to icon(:plus, text: 'New <%= human_name %>'), new_<%= singular_table_name %>_path, class: 'btn btn-success' %>