<% attributes.each do |attribute| -%>
<p>
  <strong><%= attribute.human_name %>:</strong>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= link_to icon(:edit, text: 'Edit'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-default' %>
<%%= link_to icon(:arrow_left, text: 'Back to <%= plural_table_name.titleize %>'), <%= index_helper %>_path, class: 'btn btn-default' %>